TAMANO_MEMORIA=1000
TAMANO_MINIMO_PARTICION=10
ALGORITMO_MEMORIA=PD
ALGORITMO_REEMPLAZO=FIFO
ALGORITMO_PARTICION_LIBRE=FF
IP_BROKER=127.0.0.1
PUERTO_BROKER=5003
FRECUENCIA_COMPACTACION=0
LOG_FILE=/home/utnso/workspace/tp-2020-1c-Grupo-Nachiten/Broker/Logs/broker.log
RUTA_DUMP_FILE=/home/utnso/workspace/tp-2020-1c-Grupo-Nachiten/Broker/Logs/memDump.log

valores posibles para:

algor memoria: 
BS : buddy system
PD: particiones dinamicas

algor reemplazo:
FIFO
LRU

algoritmo de seleccion de particion libre:
FF: first fit
BF: best fit

Tamaño memoria: si queres que ande con Buddy System, meter potencias de 2!!!
16384
8192
4096
2048
1024
512
256
128
64
32
16
8
