POSICIONES_ENTRENADORES=[1|2]
POKEMON_ENTRENADORES=[Pikachu]
OBJETIVOS_ENTRENADORES=[Pikachu|Bulbasaur]
TIEMPO_RECONEXION=1
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=SJF-CD
QUANTUM=0
ESTIMACION_INICIAL=5
IP_BROKER=127.0.0.1
PUERTO_BROKER=5003
PUERTO_TEAM=5002
LOG_FILE=/home/utnso/workspace/tp-2020-1c-Grupo-Nachiten/Team/Logs/Team.log