POSICIONES_ENTRENADORES=[1|2,3|7,4|5,3|2]
POKEMON_ENTRENADORES=[Pikachu|Charmander, Pikachu|Bulbasaur, Jorge|Pikachu, Pidgey|Charmander]
OBJETIVOS_ENTRENADORES=[Pikachu|Pikachu, Pikachu|Charmander,Charmander|Pidgey, Jorge|Bulbasaur]
TIEMPO_RECONEXION=2
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=SJF-CD
QUANTUM=0
ESTIMACION_INICIAL=5
IP_BROKER=127.0.0.1
PUERTO_BROKER=5003
LOG_FILE=/home/utnso/workspace/tp-2020-1c-Grupo-Nachiten/Team/Logs/Team.log